.step-controls {
    gap: 1em;
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--bg-card-light);
    border-radius: 8px;
    position: sticky;
    top: 10px;
    z-index: 100;
    transition: background-color 0.2s ease;
}

.step-controls.stuck {
    background-color: rgba(var(--bg-card-light), 0.9);
    box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}

.step-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    top: 0;
}

.step-navigation>* {
    flex: 1;
    background-color: transparent !important;
}

#step-counter {
    font-weight: 600;
    color: var(--text-primary);
    min-width: 120px;
    text-align: center;
    flex: 2;
    margin: 0 0.3em;
}

.navigation-input {
    border: none;
    background: transparent;
    color: var(--text-primary);
    font: inherit;
    font-weight: 600;
    outline: none;
    text-align: center;
    appearance: textfield;
    transition: width 0.15s ease;
    min-width: 3ch;
    border-bottom: 1px solid var(--text-secondary);
}

.navigation-input:hover,
.navigation-input:focus {
    cursor: text;
}

.mobile-nav {
    display: none;
}

.desktop-nav {
    display: inline;
}

@media (max-width: 786px) {
    .mobile-nav {
        display: inline;
    }

    .desktop-nav {
        display: none;
    }

    .nav-btn {
        padding-right: 0.2em !important;
        padding-left: 0.2em !important;
    }

    .step-navigation {
        gap: 0.3em;
    }

    #step-counter {
        flex: 1;
    }
}